<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a3e5e752-9ca9-411c-8719-5d868d980b41/resourceGroups/SENATI/providers/Microsoft.Web/sites/senatiapiweb</ResourceId>
    <ResourceGroup>SENATI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://senatiapiweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>senatiapiweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>senatiapiweb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$senatiapiweb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SENATI4Entities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ApiSenati.Models.SENATI4Entities1, ApiSenati" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SENATIPERSONEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=senatidemo.database.windows.net;Initial Catalog=DemoPerson;Persist Security Info=True;User ID=Crisbagget;Password=wJDQgk7qhqSRhis;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SENATIPERSONEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Senati.csdl|res://*/Models.Senati.ssdl|res://*/Models.Senati.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=senatidemo.database.windows.net;initial catalog=DemoPerson;persist security info=True;user id=Crisbagget;password=wJDQgk7qhqSRhis;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SENATI2Entities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=pruebaazure001.database.windows.net;Initial Catalog=SENATI2;Persist Security Info=True;User ID=Administrador;Password=ge3Kyh4fGAtE8dy;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SENATI2Entities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebaazure001.database.windows.net;initial catalog=SENATI2;persist security info=True;user id=Administrador;password=ge3Kyh4fGAtE8dy;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SENATI2Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=pruebaazure001.database.windows.net;Initial Catalog=SENATI2;Persist Security Info=True;User ID=Administrador;Password=ge3Kyh4fGAtE8dy;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SENATI2Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelSenati.csdl|res://*/Models.ModelSenati.ssdl|res://*/Models.ModelSenati.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebaazure001.database.windows.net;initial catalog=SENATI2;persist security info=True;user id=Administrador;password=ge3Kyh4fGAtE8dy;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SENATI3Entities" Order="5" Enabled="False">
          <Destination Path="Data Source=senatidb1.database.windows.net;Initial Catalog=SENATI3;Persist Security Info=True;User ID=Criabagget;Password=3erbU8SiuwA9Put" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=pruebaazure001.database.windows.net;Initial Catalog=DemoPerson;Persist Security Info=True;User ID=Administrador;Password=ge3Kyh4fGAtE8dy;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SENATI3Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Senati.csdl|res://*/Models.Senati.ssdl|res://*/Models.Senati.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebaazure001.database.windows.net;initial catalog=DemoPerson;persist security info=True;user id=Administrador;password=ge3Kyh4fGAtE8dy;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SENATIEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=pruebaazure001.database.windows.net;Initial Catalog=DemoPerson;Persist Security Info=True;User ID=Administrador;Password=ge3Kyh4fGAtE8dy;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SENATIEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Senati.csdl|res://*/Models.Senati.ssdl|res://*/Models.Senati.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebaazure001.database.windows.net;initial catalog=DemoPerson;persist security info=True;user id=Administrador;password=ge3Kyh4fGAtE8dy;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SENATI2Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SENATI2Entities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SENATIEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SENATIPERSONEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="SENATI3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Senati.csdl|res://*/Models.Senati.ssdl|res://*/Models.Senati.msl;provider=System.Data.SqlClient;provider connection string="data source=senatidb1.database.windows.net;initial catalog=SENATI3;persist security info=True;user id=Criabagget;password=3erbU8SiuwA9Put;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SENATI4Entities1-Web.config Connection String" />
  </ItemGroup>
</Project>